::selection {
    background: #59d459 !important;
}
::-moz-selection {
    background: #59d459 !important;
}
html, body {
    margin: 0 !important;
}
.second {
    position: relative;
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}
.fadeIn {
    opacity: 0;
}
.transition {
    height: 50vh !important;
}
.fluid-ratio-resize {
    max-width: 1839px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.fluid-ratio-resize:after {
    content: " ";
    display: block;
    width: 100%;
    padding-top: -12.478%;
    height: 1302.471px;
}
#bgImg {
    z-index: -100;
    position: absolute;
    height: 100vh;
    width: 100%;
}
#logo {
    position: relative;
    padding-top: 35vh;
    max-width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}
.dateText {
    position: relative;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
}
#downArrowWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#downArrowWrapper:hover {
    cursor: pointer;
}
#downArrow {
    width: 64px;
    height: 64px;
}
.subTitle {
    font-weight: 600;
    line-height: 1em;
    padding-top: 7.5vh;
    font-size: 40px;
    text-align: center;
    position: relative;
}
figcaption {
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}
#sched {
    margin-top: 35px;
    font-size: 20px;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
thead tr td {
    background-color: #2ebe2e;
    font-weight: bold;
}
.action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 25px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    color: #FFF;
    text-decoration: none;
    background-color: #2ebe2e;
    border-bottom: 5px solid green;
    text-shadow: 0px -2px green;
    top: 75px;
}
.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}
.action-button:hover{
  cursor: pointer;
}

/* Mobile CSS */
@media screen and (max-width: 700px) {
    .subTitle {
        font-size: 30px !important;
    }
    .title {
        font-size: 60px !important;
        top: 35vh !important;
    }
    .dateText {
        font-size: 30px !important;
    }
}
